html{
	min-height: 100%;
	background: rgb(55,100,119);
	background: linear-gradient(180deg, rgba(38,70,83,1) 60%, rgba(55,100,119,1) 100%);
}

body {
	min-height: 100vh;
	max-width: 100%;

	margin: 0px 75px 0px 75px;
	text-shadow: .5px .5px 1.5px black;
	font-size: 20px;
}

header, footer {
	text-align : center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color : #E9C46A;
	font-weight : bold;
}

main{
	color:#39b9aa;
}

.smaller-image {
	width: auto;
	height: 500px;
	border-radius: 12px;
	box-shadow: 1px 1px 2px 1px black;
}

nav, figure, h2, h3 {
	text-align : center;
	margin: 15px;
}

a{
	color: #F4A261;
	text-decoration: none;
}

th, td {
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
}

table tr:nth-child(even) {
	background-color: #e3ff00;
	color: black; 
}

thead {
	color: black;
	background-color: #f5c71a; 
}

figcaption {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.right{
	text-align: right;
}