html{
	min-height: 100%;
	background: rgb(32,60,64);
	background: linear-gradient(180deg, rgba(32,60,64,1) 0%, rgba(13,25,28,1) 100%);
	font-size: 20px;
}

body {
	min-height: 100vh;
	max-width: 100%;
	margin: 0px 75px 0px 75px;
	text-shadow: .5px .5px 1.5px black;
	color:#E9C46A;
}

header, footer {
	text-align : center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color : whitesmoke;
}

h2 {
	color: whitesmoke;

}
.smaller-image {
	width: auto;
	height: 500px;
	border-radius: 12px;
	box-shadow: 1px 1px 2px 1px black;
}

figure, h2, h3 {
	text-align : center;
	margin: 30px;
}

nav{
	text-align : center;
	margin: 20px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: italic;
	
}

a{
	color: #E9C46A;
	text-decoration: none;
}

th, td {
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
}

table tr:nth-child(even) {
	background-color: #E9C46A;
	color: black; 
}

thead {
	color: black;
	background-color: #E9C46A; 
}

figcaption {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#container{
	max-width: 400px;
	margin: 0 auto 0 auto;
	box-shadow: 0px 0px 10px 5px black;
}
#display{
	height: 70px;
	line-height: 70px;
	padding: 16px 8px;
	font-size: 25px;
	background: #39b9aa;
	color: black;
	border: 1px solid black;
	text-align:right;
}
.buttons{
	display: grid;
	background: #39b9aa;
	color: black;
	border: 1px solid black;
	text-align: center;
	font-size: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.buttons > div{
	border-top: 1px solid black;
	border-right: 1px solid black;
}

#equal{
	background-color: #E9C46A;
}

.button{
	border: .5px solid black;
	line-height: 100px;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
}
.button:hover{
	background-color: black;
	color: white;
	transition: .2s ease-in-out;
}

#results h2, p{
	  text-align: center;
}
  
#results_table{
	margin: 0 auto 0 auto;
}

.design h3{
	text-align: left;
}

ul{
	padding-left: 50px;
}
.resize{
	width: 10%;
}
#main_image{
	display: block;
	margin:auto;
	width: 700px;
	height: 600px;
}
#image_list li{
	display: inline;
	margin-left: 5%;
}