html{
	min-height: 100%;
	background: rgb(55,100,119);
	background: linear-gradient(180deg, rgba(38,70,83,1) 60%, rgba(55,100,119,1) 100%);
}

body {
	min-height: 100vh;
	max-width: 100%;
	margin: 0px 75px 0px 75px;
	text-shadow: .5px .5px 1.5px black;
	font-size: 20px;
}

header, footer {
	text-align : center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color : #E9C46A;
	font-weight : bold;
}

main{
	color:#39b9aa;
}

.smaller-image {
	width: auto;
	height: 500px;
	border-radius: 12px;
	box-shadow: 1px 1px 2px 1px black;
}

nav, figure, h2, h3 {
	text-align : center;
	margin: 15px;
}

a{
	color: #F4A261;
	text-decoration: none;
}

th, td {
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
}

table tr:nth-child(even) {
	background-color: #F4A261;
	color: black; 
}

thead {
	color: black;
	background-color: #F4A261; 
}

figcaption {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.right, .left{
	text-align: center;
}

#container{
	max-width: 400px;
	margin: 0 auto 0 auto;
	box-shadow: 0px 0px 10px 5px black;
}
#display{
	height: 70px;
	line-height: 70px;
	padding: 16px 8px;
	font-size: 25px;
	background: #39b9aa;
	border: 1px solid black;
	text-align:right;
}
.buttons{
	display: grid;
	background: #39b9aa;
	border: 1px solid black;
	text-align: center;
	font-size: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.buttons > div{
	border-top: 1px solid black;
	border-right: 1px solid black;
}

#equal{
	background-color: #E9C46A;
}

.button{
	border: .5px solid black;
	line-height: 100px;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
}
.button:hover{
	background-color: black;
	color: white;
	transition: .2s ease-in-out;
}

#results h2, p{
	  text-align: center;
}
  
#results_table{
	margin: 0 auto 0 auto;
}