html{
	min-height: 100%;
	background: rgb(32,60,64);
	background: linear-gradient(180deg, rgba(32,60,64,1) 0%, rgba(13,25,28,1) 100%);
}

header, footer {
	text-align : center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color : #E9C46A;
	font-weight : bold;

}

body {
	margin-left: 75px;
    margin-right: 75px;
	text-shadow: .5px .5px 1.5px black;
	font-size: 20px;

}

nav, h2 {
	text-align : center;
}

main{
	color:#E9C46A;
}

thead {
	background-color: #E9C46A; 
}

th, td {
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
}

figure {
	margin: 0;
	
}

.right{
	text-align: right;
}

button {
	position: relative;
	background-color: #E9C46A;
	color: black;
	animation-name: move;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes move {
    0% {   
      left: 0px;
    }
	
    50% {    
      left: 15px;
    }
	
    100% {
      left: 0px;
    }
}

input[type=text] {
	background-color: #E9C46A;
	border: 2px solid black;
	margin: 0px 0px 5px 0px;
}	

input[type=email] {
	background-color: #E9C46A;
	border: 2px solid black;
	margin: 0px 0px 5px 0px;
}	

a{
	color: #E9C46A;
	text-decoration: none;
}