<header>
    <nav>
        <div id="container">
            <div id="wolf">
                <a href="index.html"><img src="images/wolf-wolf-org.png" alt="Wolf Icon" id="wolf-icon"></a>
            </div>
            <div id="brand">
                <h1><strong>Eager Wolf Enterprises</strong></h1>
            </div>
            <div id="schedule">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </nav>
</header>