<nav>
    <a href="introduction.html">Introduction</a> 
    |
    <a href="contract.html">Contract</a>
    |
    <a href="tables.html">Tables</a>
    |
    <a href="forms.html">Forms</a>
    |
    <a href="website_evaluations.html">CRAP</a>
    |
    <a href="polygons.html">Polygons</a>
    |
    <a href="calculator_try.html">Calculator</a>
    |
    <a href="arrays.html">Arrays</a>
    |
    <a href="project_rand.html">Project Design</a>
    |
    <a href="project_clancy\index.html">Project</a>
    |
    <a href="jqslideshow.html">Slideshow</a>
    |
    <a href="brand/index.html">Brand</a>
    |
    <a href="exercise\Activity10\Whalen-Activity10.html">Image Swap</a>
    |
    <a href="exercise\Activity11\Whalen-Activity11.html">Accordion</a>
    |
    <a href="exercise\Updated-Activity12\Whalen-Activity12.html">Carousel</a>
    |
    <a href="exercise\Activity13/Whalen-Activity13.html">XML to JSON</a>
</nav>